In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Tea and coffee from 2015 to 2020

In [52]:
tea_coffee=pd.read_csv('FAOS_Coffee_Tea_2-11-2023.csv')

In [53]:
region=pd.read_csv('RegionCountry.csv')

### Data preparation tea_coffee

In [92]:
tea_coffee.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2630,Coffee and products,2015,2015,1000 tonnes,0,I,Imputed value
1,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2630,Coffee and products,2016,2016,1000 tonnes,0,I,Imputed value
2,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2630,Coffee and products,2017,2017,1000 tonnes,2,I,Imputed value
3,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2630,Coffee and products,2018,2018,1000 tonnes,1,I,Imputed value
4,FBS,Food Balances (2010-),4,Afghanistan,5611,Import Quantity,S2630,Coffee and products,2019,2019,1000 tonnes,1,I,Imputed value

checking values for each columns

In [55]:
tea_coffee['Domain Code'].unique()

array(['FBS'], dtype=object)

In [56]:
tea_coffee['Domain'].unique()

array(['Food Balances (2010-)'], dtype=object)

In [57]:
tea_coffee['Element'].unique()

array(['Import Quantity', 'Export Quantity', 'Domestic supply quantity',
       'Production', 'Tourist consumption'], dtype=object)

In [58]:
tea_coffee['Item'].unique()

array(['Coffee and products', 'Tea (including mate)'], dtype=object)

In [59]:
tea_coffee['Year'].unique()

array([2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [60]:
tea_coffee['Unit'].unique()

array(['1000 tonnes'], dtype=object)

In [61]:
tea_coffee['Flag'].unique()

array(['I', 'E'], dtype=object)

In [62]:
tea_coffee['Flag Description'].unique()

array(['Imputed value', 'Estimated value'], dtype=object)

#### Delete unusable columns

In [64]:
tea_coffe_20152020=tea_coffee.drop(['Domain Code','Domain','Unit','Flag','Flag Description','Year Code','Item Code (CPC)','Element Code','Area Code (M49)'],axis=1)
tea_coffe_20152020.head()

          Area          Element                 Item  Year  Value
0  Afghanistan  Import Quantity  Coffee and products  2015      0
1  Afghanistan  Import Quantity  Coffee and products  2016      0
2  Afghanistan  Import Quantity  Coffee and products  2017      2
3  Afghanistan  Import Quantity  Coffee and products  2018      1
4  Afghanistan  Import Quantity  Coffee and products  2019      1

In [20]:
tea_coffe_20152020.shape

(7856, 5)

In [21]:
tea_coffe_20152020.dtypes

Area       object
Element    object
Item       object
Year        int64
Value       int64
dtype: object

In [22]:
tea_coffe_20152020.isnull().sum()

Area       0
Element    0
Item       0
Year       0
Value      0
dtype: int64

In [23]:
tea_coffe_20152020.duplicated().sum()

0

#### Pivot table with items in 'element' column as column names

In [65]:
pivot_Tea_coffee = pd.pivot_table(tea_coffe_20152020, index=['Area', 'Item', 'Year'], columns='Element', values='Value').reset_index()

In [67]:
pivot_Tea_coffee.head()

Element,Area,Item,Year,Domestic supply quantity,Export Quantity,Import Quantity,Production,Tourist consumption
0,Afghanistan,Coffee and products,2015,0.0,0.0,0.0,NaN,NaN
1,Afghanistan,Coffee and products,2016,0.0,0.0,0.0,NaN,NaN
2,Afghanistan,Coffee and products,2017,0.0,0.0,2.0,NaN,NaN
3,Afghanistan,Coffee and products,2018,0.0,1.0,1.0,NaN,NaN
4,Afghanistan,Coffee and products,2019,0.0,0.0,1.0,NaN,NaN

In [23]:
pivot_Tea_coffee.shape

(2184, 8)

In [71]:
pivot_Tea_coffee.isnull().sum()

Element
Area                           0
Item                           0
Year                           0
Domestic supply quantity       0
Export Quantity              173
Import Quantity                2
Production                  1111
Tourist consumption         1778
dtype: int64

Because I have too little observation in the column "Tourist consumption"

In [25]:
pivot_Tea_coffee=pivot_Tea_coffee.drop('Tourist consumption',axis=1)

#### I decide to split into 2 dataframes because Production has too many nulls and I need to delete those rows without droping those rows in the main dataframe

In [ ]:
pivot_Tea_coffee = pivot_Tea_coffee.loc[:, ['Area', 'Item', 'Year', 'Domestic supply quantity', 'Export Quantity', 'Import Quantity']]
production_tea_coffee = pivot_Tea_coffee.loc[:, ['Area', 'Item', 'Year', 'Production']]

In [76]:
production_tea_coffee=production_tea_coffee[~production_tea_coffee["Production"].isna()]
production_tea_coffee.head(10)

Element     Area                 Item  Year  Production
12       Albania  Coffee and products  2015         0.0
13       Albania  Coffee and products  2016         0.0
14       Albania  Coffee and products  2017         0.0
15       Albania  Coffee and products  2018         0.0
16       Albania  Coffee and products  2019         0.0
17       Albania  Coffee and products  2020         0.0
36        Angola  Coffee and products  2015        15.0
37        Angola  Coffee and products  2016        15.0
38        Angola  Coffee and products  2017        15.0
39        Angola  Coffee and products  2018        16.0

In [80]:
pivot_Tea_coffee.head()

Element,Area,Item,Year,Domestic supply quantity,Export Quantity,Import Quantity
0,Afghanistan,Coffee and products,2015,0.0,0.0,0.0
1,Afghanistan,Coffee and products,2016,0.0,0.0,0.0
2,Afghanistan,Coffee and products,2017,0.0,0.0,2.0
3,Afghanistan,Coffee and products,2018,0.0,1.0,1.0
4,Afghanistan,Coffee and products,2019,0.0,0.0,1.0

Let's now check the countries with no values in export and then in import

In [82]:
pivot_Tea_coffee[pivot_Tea_coffee["Export Quantity"].isna()]

Element,Area,Item,Year,Domestic supply quantity,Export Quantity,Import Quantity
18,Albania,Tea (including mate),2015,0.0,NaN,0.0
21,Albania,Tea (including mate),2018,0.0,NaN,0.0
53,Antigua and Barbuda,Coffee and products,2020,0.0,NaN,0.0
56,Antigua and Barbuda,Tea (including mate),2017,0.0,NaN,0.0
57,Antigua and Barbuda,Tea (including mate),2018,0.0,NaN,0.0
108,Azerbaijan,Coffee and products,2015,1.0,NaN,1.0
114,Azerbaijan,Tea (including mate),2015,2.0,NaN,12.0
116,Azerbaijan,Tea (including mate),2017,10.0,NaN,14.0
120,Bahamas,Coffee and products,2015,1.0,NaN,1.0
126,Bahamas,Tea (including mate),2015,1.0,NaN,1.0
136,Bangladesh,Coffee and products,2015,1.0,NaN,1.0
190,Belize,Tea (including mate),2015,0.0,NaN,0.0
197,Benin,Coffee and products,2016,1.0,NaN,0.0
198,Benin,Coffee and products,2017,1.0,NaN,1.0
201,Benin,Coffee and products,2020,1.0,NaN,1.0
204,Benin,Tea (including mate),2017,0.0,NaN,0.0
206,Benin,Tea (including mate),2019,0.0,NaN,0.0
207,Benin,Tea (including mate),2020,0.0,NaN,0.0
278,Burkina Faso,Tea (including mate),2015,4.0,NaN,6.0
298,Cabo Verde,Coffee and products,2017,1.0,NaN,1.0
299,Cabo Verde,Coffee and products,2018,1.0,NaN,1.0
301,Cabo Verde,Coffee and products,2020,1.0,NaN,1.0
304,Cabo Verde,Tea (including mate),2017,0.0,NaN,0.0
305,Cabo Verde,Tea (including mate),2018,0.0,NaN,0.0
306,Cabo Verde,Tea (including mate),2019,0.0,NaN,0.0
307,Cabo Verde,Tea (including mate),2020,0.0,NaN,0.0
346,Central African Republic,Coffee and products,2017,9.0,NaN,1.0
350,Central African Republic,Tea (including mate),2015,0.0,NaN,NaN
351,Central African Republic,Tea (including mate),2016,0.0,NaN,0.0
352,Central African Republic,Tea (including mate),2017,0.0,NaN,NaN
353,Central African Republic,Tea (including mate),2018,0.0,NaN,0.0
354,Central African Republic,Tea (including mate),2019,0.0,NaN,0.0
357,Chad,Coffee and products,2016,0.0,NaN,0.0
358,Chad,Coffee and products,2017,0.0,NaN,0.0
360,Chad,Coffee and products,2019,0.0,NaN,0.0
361,Chad,Coffee and products,2020,0.0,NaN,0.0
365,Chad,Tea (including mate),2018,0.0,NaN,0.0
366,Chad,Tea (including mate),2019,1.0,NaN,1.0
367,Chad,Tea (including mate),2020,0.0,NaN,2.0
411,"China, Macao SAR",Tea (including mate),2016,1.0,NaN,1.0
414,"China, Macao SAR",Tea (including mate),2019,1.0,NaN,1.0
415,"China, Macao SAR",Tea (including mate),2020,1.0,NaN,1.0
456,Comoros,Coffee and products,2019,0.0,NaN,0.0
457,Comoros,Coffee and products,2020,0.0,NaN,0.0
458,Comoros,Tea (including mate),2015,0.0,NaN,0.0
463,Comoros,Tea (including mate),2020,0.0,NaN,0.0
466,Congo,Coffee and products,2017,4.0,NaN,1.0
469,Congo,Coffee and products,2020,4.0,NaN,1.0
470,Congo,Tea (including mate),2015,0.0,NaN,0.0
472,Congo,Tea (including mate),2017,0.0,NaN,0.0
474,Congo,Tea (including mate),2019,0.0,NaN,0.0
475,Congo,Tea (including mate),2020,0.0,NaN,0.0
511,Cuba,Tea (including mate),2020,0.0,NaN,0.0
605,Dominica,Tea (including mate),2018,0.0,NaN,0.0
737,French Polynesia,Tea (including mate),2018,0.0,NaN,0.0
747,Gabon,Tea (including mate),2016,0.0,NaN,0.0
748,Gabon,Tea (including mate),2017,0.0,NaN,0.0
749,Gabon,Tea (including mate),2018,0.0,NaN,0.0
754,Gambia,Coffee and products,2017,0.0,NaN,0.0
763,Gambia,Tea (including mate),2020,4.0,NaN,4.0
814,Grenada,Coffee and products,2017,0.0,NaN,0.0
816,Grenada,Coffee and products,2019,0.0,NaN,0.0
817,Grenada,Coffee and products,2020,0.0,NaN,0.0
819,Grenada,Tea (including mate),2016,0.0,NaN,0.0
848,Guinea-Bissau,Coffee and products,2015,0.0,NaN,0.0
852,Guinea-Bissau,Coffee and products,2019,0.0,NaN,0.0
853,Guinea-Bissau,Coffee and products,2020,0.0,NaN,0.0
859,Guinea-Bissau,Tea (including mate),2020,0.0,NaN,0.0
956,Iraq,Coffee and products,2015,6.0,NaN,8.0
957,Iraq,Coffee and products,2016,6.0,NaN,8.0
962,Iraq,Tea (including mate),2015,32.0,NaN,37.0
963,Iraq,Tea (including mate),2016,33.0,NaN,39.0
1064,Kiribati,Coffee and products,2015,0.0,NaN,0.0
1065,Kiribati,Coffee and products,2016,0.0,NaN,0.0
1066,Kiribati,Coffee and products,2017,0.0,NaN,0.0
1067,Kiribati,Coffee and products,2018,0.0,NaN,0.0
1069,Kiribati,Coffee and products,2020,0.0,NaN,0.0
1070,Kiribati,Tea (including mate),2015,0.0,NaN,0.0
1071,Kiribati,Tea (including mate),2016,0.0,NaN,0.0
1072,Kiribati,Tea (including mate),2017,0.0,NaN,0.0
1073,Kiribati,Tea (including mate),2018,0.0,NaN,0.0
1155,Liberia,Tea (including mate),2016,0.0,NaN,0.0
1157,Liberia,Tea (including mate),2018,0.0,NaN,0.0
1160,Libya,Coffee and products,2015,4.0,NaN,12.0
1232,Maldives,Coffee and products,2015,2.0,NaN,2.0
1233,Maldives,Coffee and products,2016,2.0,NaN,3.0
1234,Maldives,Coffee and products,2017,2.0,NaN,1.0
1236,Maldives,Coffee and products,2019,2.0,NaN,2.0
1238,Maldives,Tea (including mate),2015,0.0,NaN,1.0
1239,Maldives,Tea (including mate),2016,0.0,NaN,0.0
1240,Maldives,Tea (including mate),2017,0.0,NaN,0.0
1241,Maldives,Tea (including mate),2018,1.0,NaN,1.0
1242,Maldives,Tea (including mate),2019,1.0,NaN,1.0
1262,Malta,Tea (including mate),2015,1.0,NaN,1.0
1268,Mauritania,Coffee and products,2015,0.0,NaN,0.0
1269,Mauritania,Coffee and products,2016,0.0,NaN,1.0
1270,Mauritania,Coffee and products,2017,1.0,NaN,1.0
1271,Mauritania,Coffee and products,2018,0.0,NaN,1.0
1272,Mauritania,Coffee and products,2019,1.0,NaN,1.0
1273,Mauritania,Coffee and products,2020,1.0,NaN,1.0
1275,Mauritania,Tea (including mate),2016,14.0,NaN,16.0
1276,Mauritania,Tea (including mate),2017,14.0,NaN,17.0
1278,Mauritania,Tea (including mate),2019,18.0,NaN,19.0
1304,Micronesia (Federated States of),Coffee and products,2019,0.0,NaN,0.0
1305,Micronesia (Federated States of),Coffee and products,2020,0.0,NaN,0.0
1306,Micronesia (Federated States of),Tea (including mate),2019,0.0,NaN,0.0
1307,Micronesia (Federated States of),Tea (including mate),2020,0.0,NaN,0.0
1381,Nauru,Coffee and products,2020,0.0,NaN,0.0
1382,Nauru,Tea (including mate),2019,0.0,NaN,0.0
1383,Nauru,Tea (including mate),2020,0.0,NaN,0.0
1416,New Caledonia,Tea (including mate),2017,0.0,NaN,0.0
1417,New Caledonia,Tea (including mate),2018,0.0,NaN,0.0
1419,New Caledonia,Tea (including mate),2020,0.0,NaN,0.0
1439,Nicaragua,Tea (including mate),2016,0.0,NaN,0.0
1449,Niger,Coffee and products,2020,2.0,NaN,3.0
1540,Paraguay,Coffee and products,2015,3.0,NaN,3.0
1600,Qatar,Coffee and products,2019,5.0,NaN,5.0
1601,Qatar,Coffee and products,2020,6.0,NaN,5.0
1603,Qatar,Tea (including mate),2020,5.0,NaN,5.0
1667,Saint Kitts and Nevis,Coffee and products,2018,0.0,NaN,0.0
1689,Saint Vincent and the Grenadines,Coffee and products,2016,0.0,NaN,0.0
1690,Saint Vincent and the Grenadines,Coffee and products,2017,0.0,NaN,0.0
1691,Saint Vincent and the Grenadines,Coffee and products,2018,0.0,NaN,0.0
1692,Saint Vincent and the Grenadines,Coffee and products,2019,0.0,NaN,0.0
1693,Saint Vincent and the Grenadines,Coffee and products,2020,0.0,NaN,0.0
1696,Saint Vincent and the Grenadines,Tea (including mate),2017,0.0,NaN,0.0
1697,Saint Vincent and the Grenadines,Tea (including mate),2018,0.0,NaN,0.0
1699,Saint Vincent and the Grenadines,Tea (including mate),2020,0.0,NaN,0.0
1707,Samoa,Tea (including mate),2016,0.0,NaN,0.0
1711,Samoa,Tea (including mate),2020,0.0,NaN,0.0
1721,Sao Tome and Principe,Tea (including mate),2018,0.0,NaN,0.0
1723,Sao Tome and Principe,Tea (including mate),2020,0.0,NaN,0.0
1760,Seychelles,Coffee and products,2015,0.0,NaN,0.0
1761,Seychelles,Coffee and products,2016,0.0,NaN,0.0
1762,Seychelles,Coffee and products,2017,0.0,NaN,0.0
1763,Seychelles,Coffee and products,2018,0.0,NaN,0.0
1765,Seychelles,Coffee and products,2020,0.0,NaN,0.0
1767,Seychelles,Tea (including mate),2016,0.0,NaN,0.0
1769,Seychelles,Tea (including mate),2018,0.0,NaN,0.0
1771,Seychelles,Tea (including mate),2020,0.0,NaN,0.0
1808,Solomon Islands,Coffee and products,2015,0.0,NaN,0.0
1810,Solomon Islands,Coffee and products,2017,0.0,NaN,0.0
1811,Solomon Islands,Coffee and products,2018,0.0,NaN,0.0
1813,Solomon Islands,Coffee and products,2020,0.0,NaN,0.0
1814,Solomon Islands,Tea (including mate),2015,0.0,NaN,0.0
1815,Solomon Islands,Tea (including mate),2016,0.0,NaN,0.0
1816,Solomon Islands,Tea (including mate),2017,0.0,NaN,0.0
1817,Solomon Islands,Tea (including mate),2018,0.0,NaN,0.0
1818,Solomon Islands,Tea (including mate),2019,0.0,NaN,0.0
1819,Solomon Islands,Tea (including mate),2020,0.0,NaN,0.0
1832,South Sudan,Coffee and products,2019,1.0,NaN,1.0
1880,Suriname,Tea (including mate),2017,0.0,NaN,1.0
1882,Suriname,Tea (including mate),2019,0.0,NaN,0.0
1920,Tajikistan,Coffee and products,2015,1.0,NaN,1.0
1921,Tajikistan,Coffee and products,2016,1.0,NaN,2.0
1922,Tajikistan,Coffee and products,2017,1.0,NaN,2.0
1925,Tajikistan,Coffee and products,2020,3.0,NaN,4.0
1926,Tajikistan,Tea (including mate),2015,4.0,NaN,2.0
1950,Timor-Leste,Tea (including mate),2015,1.0,NaN,1.0
1951,Timor-Leste,Tea (including mate),2016,0.0,NaN,0.0
1953,Timor-Leste,Tea (including mate),2018,0.0,NaN,0.0
1954,Timor-Leste,Tea (including mate),2019,0.0,NaN,0.0
1993,Turkmenistan,Coffee and products,2016,3.0,NaN,3.0
1994,Turkmenistan,Coffee and products,2017,3.0,NaN,3.0
1995,Turkmenistan,Coffee and products,2018,3.0,NaN,3.0
1998,Turkmenistan,Tea (including mate),2015,4.0,NaN,3.0
1999,Turkmenistan,Tea (including mate),2016,4.0,NaN,5.0
2100,Uzbekistan,Coffee and products,2015,5.0,NaN,5.0
2119,Vanuatu,Tea (including mate),2016,0.0,NaN,0.0
2122,Vanuatu,Tea (including mate),2019,0.0,NaN,0.0
2125,Venezuela (Bolivarian Republic of),Coffee and products,2016,59.0,NaN,7.0
2126,Venezuela (Bolivarian Republic of),Coffee and products,2017,58.0,NaN,1.0
2135,Venezuela (Bolivarian Republic of),Tea (including mate),2020,0.0,NaN,0.0

In [83]:
pivot_Tea_coffee[pivot_Tea_coffee["Import Quantity"].isna()]

Element,Area,Item,Year,Domestic supply quantity,Export Quantity,Import Quantity
350,Central African Republic,Tea (including mate),2015,0.0,NaN,NaN
352,Central African Republic,Tea (including mate),2017,0.0,NaN,NaN

I decide to delete those rows for the analysis

In [ ]:
pivot_Tea_coffee.dropna()

### Data preparation region

In [89]:
region.head(15)

         REGION (DISPLAY)    COUNTRY (DISPLAY)
0   Eastern Mediterranean          Afghanistan
1                  Europe              Albania
2                  Africa              Algeria
3                  Africa               Angola
4                Americas  Antigua and Barbuda
5                Americas            Argentina
6                  Europe              Armenia
7         Western Pacific            Australia
8                  Europe              Austria
9                  Europe           Azerbaijan
10               Americas              Bahamas
11  Eastern Mediterranean              Bahrain
12        South-East Asia           Bangladesh
13               Americas             Barbados
14                 Europe              Belarus

In [91]:
region.shape

(179, 2)

In [85]:
region.dtypes

REGION (DISPLAY)     object
COUNTRY (DISPLAY)    object
dtype: object

In [86]:
region.isnull().sum()

REGION (DISPLAY)     0
COUNTRY (DISPLAY)    0
dtype: int64

In [87]:
region.duplicated().sum()

0

#### Export the datas

In [34]:
pivot_Tea_coffee.to_csv('Tea_coffee_20152020.csv', index=False)

In [35]:
production_tea_coffee.to_csv'Production_tea_coffe_20152020.csv',index=False)